<!--dishes_list.html-->
{{extend '../share/layout.html'}}
{{block 'title'}}活动统计{{/block}}
{{block 'head'}}
<link rel="stylesheet" href="/public/plugins/bootstrap-table/bootstrap-table.css">
<link rel="stylesheet" href="/public/css/attestationList.css">
{{/block}}
{{block 'content'}}
<section class="content container-fluid" id="all_box">
    <div class="main_list_content type_box">
        <div class="list_title_header" style="float:left;width:100%">
            <div class="">
                <div class="head-type">
                    <ul class="nav nav-tabs" id="State">
                        <li class="active">
                            <a data-type="0" data-toggle="tab" href="#first">活动统计</a>
                        </li>
                    </ul>
                </div>
                <div class="option-list form-inline clearfix">
                    <div class="form-group col-lg-3 col-sm-6 option">
                        <label>开始时间：</label>
                        <input type="text" class="form-control" readonly="" id="start">
                    </div>
                    <div class="form-group col-lg-3 col-sm-6 option">
                        <label>结束时间：</label>
                        <input type="text" class="form-control" readonly="" id="end">
                    </div>
                    <div class="form-group col-lg-1 col-sm-1" style="text-align:center;">
                        <a class="btn btn-primary" style="display: inline-block;background: #424242;border-color: #424242;"
                            id="search">查询</a>
                    </div>
                </div>
                <div>
                    <div>
                        <div class="delete-btn" style="display: inline-block;margin-right: 20px;">
                            <a class="btn btn-primary" id="Exportimages" style="display: inline-block;background: #424242;border-color: #424242;">导出</a>
                        </div>
                        <div class="paginalNum" style="margin-bottom:30px;">
                            <span>每页显示数量：</span>
                            <select name="pagesize_dropdown" id="pagesize_dropdown">
                                <option value="10">10</option>
                                <option value="20">20</option>
                                <option value="40">40</option>
                                <option value="200">200</option>
                                <option value="500">500</option>
                                <option value="1000">1000</option>
                                <option value="2000">2000</option>
                            </select>
                        </div>
                    </div>
                    <div>
                        <table id="productTable" class="table table-bordered table-striped">
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{{/block}}

{{block 'footer'}}

{{/block}}

{{block 'requirejs'}}
<script src="/public/plugins/bootstrap-table/bootstrap-table.js"></script>
<script src="/public/plugins/bootstrap-table/bootstrap-table-zh-CN.js"></script>
<script src="/public/plugins/bootstrap-table/bootstrap-table-export.js"></script>
<script src="/public/plugins/laydate/laydate.js"></script>
<script src="/public/plugins/laydate/moment.js"></script>
<script src="/public/js/activityStatistic.js"></script>
{{/block}}