<!--dishes_list.html-->
{{extend '../share/layout.html'}}
{{block 'title'}}活动管理{{/block}}
{{block 'head'}}
<link rel="stylesheet" href="/public/plugins/bootstrap-table/bootstrap-table.css">
<link rel="stylesheet" href="/public/css/activityList.css">
<style>
    #sorting {
        background: #f9f9f9;
        width: 60px;
        height: 32px;
        font-family: tahoma;
        font-size: 14px;
        border-radius: 3px;
        border: 1px solid #ddd;
        padding-left: 5px;
        appearance: none;
        -moz-appearance: none;
        -webkit-appearance: none;
        background: url(/public/images/pagesize_dropdown.png) !important;
        background-repeat: no-repeat !important;
        background-position: right center !important;
    }
</style>
{{/block}}
{{block 'content'}}
<section class="content container-fluid" id="all_box">
    <div class="main_list_content type_box">
        <div class="list_title_header" style="float:left;width:100%">
            <div class="">
                <div class="head-type">
                    <ul class="nav nav-tabs" id="State">
                        <li class="active">
                            <a data-type="1" class="participation" data-toggle="tab" href="#participation">参与</a>
                        </li>
                        <li>
                            <a data-type="2" class="shortlisted" data-toggle="tab" href="#shortlisted"
                                style="display: none;">入围</a>
                        </li>
                        <li>
                            <a data-type="3" class="promotion" data-toggle="tab" href="#promotion"
                                style="display: none;">晋级</a>
                        </li>
                        <li>
                            <a data-type="4" class="winning" data-toggle="tab" href="#winning"
                                style="display: none;">获奖</a>
                        </li>
                    </ul>
                </div>
                <div class="option-list form-inline clearfix">
                    <div class="form-group col-lg-3 col-sm-6">
                        <label>分组：</label>
                        <select class="form-control" id="TypeList" style="min-width: 145px;">
                            <option selected="selected" value="0">全部</option>
                        </select>
                    </div>
                    <div class="form-group col-lg-3 col-sm-6">
                        <label>标题：</label>
                        <input type="text" autocomplete="off" class="form-control" id="Title">
                    </div>

                    <div class="form-group col-lg-3 col-sm-6 option">
                        <label>开始时间：</label>
                        <input type="text" class="form-control" readonly="" id="start">
                    </div>
                    <div class="form-group col-lg-3 col-sm-6 option">
                        <label>结束时间：</label>
                        <input type="text" class="form-control" readonly="" id="end">
                    </div>
                    <div class="form-group col-lg-3 col-sm-6">
                        <label>作品状态：</label>
                        <select class="form-control" id="Status" style="min-width: 145px;">
                            <option selected="selected" value="">全部</option>
                            <option value="0">未入围</option>
                            <option value="1">已入围</option>
                        </select>
                    </div>
                    <div class="form-group col-lg-1 col-sm-1" style="text-align:center;">
                        <a class="btn btn-primary"
                            style="display: inline-block;background: #424242;border-color: #424242;" id="search">查询</a>
                    </div>
                </div>
                <div>
                    <div>
                        <!-- 暂时隐藏导出图片 -->
                        <!-- <div class="delete-btn" style="display: inline-block;margin-right: 20px;">
                            <a class="btn btn-primary" id="Exportimages" style="display: inline-block;background: #424242;border-color: #424242;">导出图片</a>
                        </div> -->

                        <div style="display:inline-block;">
                            <div class="checkAll btn" style="margin:0;">
                                <input type="checkbox" class="sel-all" id="selAll">
                            </div>
                            <div class="delete-btn" style="display: inline-block;margin-right: 20px;">
                                <a class="btn btn-primary" id="Batchpromotion"
                                    style="display: none;background: #424242;border-color: #424242;">批量晋级</a>
                            </div>
                            <div class="delete-btn" style="display: inline-block;">
                                <a class="btn btn-primary" id="Nextstage"
                                    style="display: none;background: #424242;border-color: #424242;">进入下一阶段</a>
                            </div>
                        </div>


                        <!-- <button class="btn delete-btn" id="delete">删除</button> -->



                        <div class="paginalNum">
                            <span>每页显示数量：</span>
                            <select name="pagesize_dropdown" id="pagesize_dropdown">
                                <option value="10">10</option>
                                <option value="20">20</option>
                                <option value="40">40</option>
                                <option value="200">200</option>
                                <option value="500">500</option>
                                <option value="1000">1000</option>
                                <option value="2000">2000</option>
                            </select>
                        </div>
                        <div class="paginalNum" style="margin-right: 15px;">
                            <span>排序：</span>
                            <select name="sorting" id="sorting">
                                <option selected="selected" value="1">最新</option>
                                <option value="2">最热</option>
                            </select>
                        </div>
                        <div class="paginalNum" style="line-height:32px;margin-right: 15px;">人数：<span
                                class="paginalNumber" style="float:right"></span></div>
                    </div>
                    <div>
                        <table id="productTable" class="table table-bordered table-striped">
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- 创建新分组start -->
    <div>
        <!-- 模态框（Modal） -->
        <div class="modal fade" id="addGrouping" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
            aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">添加奖项</h4>
                    </div>
                    <div class="modal-body">
                        <form class="form-horizontal">
                            <div class="form-group">
                                <label for="Level_val" class="col-sm-2 control-label">第</label>
                                <div class="col-sm-5">
                                    <input id="Level_val" type="number" class="form-control" placeholder="">
                                </div>
                                <label for="Level_val" style="width: 60px;" class="col-sm-2 control-label">名</label>
                            </div>
                            <div class="form-group">
                                <label for="Level_val" class="col-sm-2 control-label">自定义奖项</label>
                                <div class="col-sm-5">
                                    <input id="PrizeName" type="text" class="form-control" placeholder="">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="Level_val" class="col-sm-2 control-label">分组</label>
                                <div class="col-sm-5">
                                    <select class="form-control" name="Branch" id="Branch">
                                        <option selected="selected" value="0">总榜</option>
                                        <option value="1">分组</option>
                                    </select>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-primary" style="width:100px;" id="creatTabNameBtn">确认</button>
                        <button class="btn btn-default" data-dismiss="modal" style="width:100px;">关闭</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.modal -->
    </div>
    <!-- 创建新分组end -->

    <div class="modal fade" id="ifSureSendModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <!--fade-->
        <div class="modal-dialog" role="document" style="width:810px;margin: 100px auto;">
            <div class="modal-content modal_bgc">
                <div class="modal-header modal_header">
                    <button type="button" class="close_modal btn" data-dismiss="modal" aria-label="Close">
                        <span class="del_modal" aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel"></h4>
                </div>
                <div class="modal-body" style="margin:auto;min-height: 300px;text-align: center;">
                    <span class="glyphicon glyphicon-chevron-left previous_page"
                        style="color: #fff;font-size: 35px;margin: 0 30px 0 -30px;"></span>
                    <img class="preview_img" src="" alt="">
                    <span class="glyphicon glyphicon-chevron-right next_page"
                        style="color: #fff;font-size: 35px;margin: 0 -30px 0 30px;"></span>
                </div>
                <div class="modal-footer modal_footer">
                    <div style="margin-bottom:10px;height: 30px;">
                        <div class="pull-left" style="color:#fff;"><span class="preview_span"></span> <a href="#"
                                id="DownloadImg">点击下载</a>
                            <span class='update-promotion' data-id='' data-level=''
                                style='margin-right: 15px;cursor: pointer;color: #3c8dbc;margin-left: 10px;display: none;'></span>
                        </div>
                    </div>
                    <div>
                        <p class="img_msg" style="word-wrap: break-word;word-break: normal;"></p>
                    </div>
                </div>


            </div>
        </div>
    </div>
</section>
{{/block}}

{{block 'footer'}}

{{/block}}

{{block 'requirejs'}}
<script src="/public/plugins/bootstrap-table/bootstrap-table.js"></script>
<script src="/public/plugins/bootstrap-table/bootstrap-table-zh-CN.js"></script>
<script src="/public/plugins/bootstrap-table/bootstrap-table-export.js"></script>
<script src="/public/plugins/laydate/laydate.js"></script>
<script src="/public/plugins/laydate/moment.js"></script>
<script src="/public/js/activityDetail.js"></script>
{{/block}}